 /* MainLayout.css */

.navbar {
  margin: 30px;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-links li {
  margin-right: 10px;
}

.nav-links a {
  text-decoration: none;
  color: brown;
  border: 1px solid black;
  padding: 5px;
  border-radius: 10%;
}

.nav-links a:hover {
  background-color: #f0f0f0;
}
